
.tiles2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    vertical-align: middle;
    margin: 0%; 
    width: 100%;
    padding: 5px;
    color: black;
    /* background-color:#3e4444; */
    background-color: rgba(255,255,255,0.5);
     border:1px solid lightslategrey !important;
    border-radius: 10px;
    align-self: center;
}
.tiles{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    vertical-align: middle;
    margin: 0%; 
    width: 99%;
    padding: 5px;
    color: black;
    background-color:rgba(119,136,153,0.5);
    border-radius: 10px;
    align-self: center;
    border: 1px solid rgba(255,255,255,0.5);
}